h1 {
  margin-left: 395px;
  font-weight: bold;
  color: #000;
}

.wrapper {
  position: relative;
  min-width: 1000px;
}

.slides {
  width: 100%;
}

.btn-1 {
  position: absolute;
  top: 45%;
  left: 0;
}

.btn-1 {
  position: absolute;
  top: 45%;
  right: 0;
}
