h1 {
  margin-left: 395px;
  font-weight: bold;
  color: #000;
}

.wrapper {
  position: relative;
  min-width: 900px;
  margin: 0 auto;
}

.slides {
  width: 100%;
}

.btn-1 {
  position: absolute;
  top: 45%;
  left: 0;
}

.btn-1 {
  position: absolute;
  top: 45%;
  right: 0;
}

#btn-left {
  padding: 10px;
  border-radius: 30px;
  background-color: #061826;
}

#btn-right {
  padding: 10px;
  border-radius: 30px;
  background-color: #061826;
}

img {
}
