body {
  background: #16090d;
}

h1 {
  margin-left: 500px;
  font-family: fantasy;
  font-size: 70px;
  font-weight: bold;
  color: #ffd8ea;
}

.wrapper {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}

.slides {
  width: 100%;
}

.btn-1 {
  position: absolute;
  font-size: 24px;
  top: 50%;
  left: 0;
}

.btn-2 {
  position: absolute;
  font-size: 24px;
  top: 50%;
  right: 0;
}

#btn-left {
  padding: 10px;
  border-radius: 30px;
  background-color: #401b27;
}

#btn-right {
  padding: 10px;
  border-radius: 30px;
  background-color: #401b27;
}

img {
  width: 958px;
  height: 578px;
}
