div {
  margin: 0 auto;
  padding-top: 30px;
  width: 900px;
  height: 450px;
  text-align: center;
  background: #e6d0d4;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 75px;
}

button {
  width: 250px;
  height: 70px;
  margin-top: 75px;
  font-size: 18px;
  background: #780116;
  color: #fff;
}

p {
  font-size: 30px;
}

button:hover {
  background: #160104;
}
